
* {
	margin: 0;
	color: #fcbd70;
;
}

span {
	font-weight: bold;
}

/* 
LOGO
*/

.logo {
	display: inline;
	position: absolute;
}

.logo span {
	color: #ffe0b3;
}

.logo p {
	font-size: 20px;
	margin-left: 30%;
	padding-top: 30px;
	width: 400px;
}

/* 
NAV BAR
*/

nav {
	background-color: #fc7f09;
	color: #fcbd70;
	height: 80px;

}

nav ul {
	float: right;
	padding-top: 30px;
}

nav li {
	display: inline;
	padding-right: 50px;
	margin-bottom: 20px;
	
}

nav li a {
	color: #ffe0b3;
	text-decoration: none;
}

/* CONTENT */

.content {
	float: right;
	height: 400px;
	width: 35%;
	font-size: 29px;
	margin: 50px 50px 0 0;
	padding-top: 50px;
	letter-spacing: 1.5px;
	padding-right: 40px;
}

.contentLogo {
	color: #f90;
}

.contentText {
	color: #7accc8;
}

/* BUTTONS */
.buttons {
	padding-top: 40px;
}

.quoteButton {
	background-color: #fc7f09;
	height: 50px;
	width: 200px;
	border: 1px outset;
	font-size: 13px;
	margin-right: 10px;
}

.caseButton {
	background-color: #7accc8;
	height: 50px;
	width: 200px;
	border: 1px outset;
	color: #fff;
	font-size: 13px;
}

/*ORANGE IMAGE */

.divOrange {
	background-image: url('../img/orange.jpg');
	background-size: cover;
	height: 400px;
	width: 45%;
	background-repeat: no-repeat;
	text-align: center;
	margin-left: 5%;
}

/*
FOOTER
*/

footer {
	background-color: #7ACCC8;
	height: 100px;
	width: 100%;
	clear: both;
	padding-bottom: 18px;

}

@media (max-width: 1197px) {
	.caseButton {
		height: 40x;
		width: 175px;
	}

	.quoteButton {
		height: 40px;
		width: 175px;
	}
}

@media (max-width: 1054px) {
	.caseButton {
		height: 30px;
		width: 150px;
	}

	.quoteButton {
		height: 30px;
		width: 150px;
	}
}

@media (max-width: 615px) {
	footer {
		margin-top: 20%;
	}

	.divOrange {
		width: 30%;
		height: 300px;
	}
}









